@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: rgb(22 27 34);
  --secondary-color: rgb(13 17 22);
  --tertiary-color: rgb(33 38 45);

  color: #fff;
  font-family: "Inter", "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.content {
  height: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header header" "sidebar main" "footer footer";
}

header.header {
  grid-area: header;
  background-color: var(--primary-color);
  color: aliceblue;

  padding: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  z-index: 2;
  position: relative;
}

.header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  border: none;
  background-color: aqua;
  /* background-image: linear-gradient(90deg, red 0%, green 50%, blue 100%); */
}

.title-logo {
  font-size: 1.5rem;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: aqua;
  color: #000;

  white-space: nowrap;
}

div.side-bar {
  /* --sidebar-l-r-padding: 20px; */
  --sidebar-width: 200px;
  grid-area: sidebar;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--sidebar-width);

  gap: 10px;
  color: rgb(199, 197, 197);

  overflow-x: hidden;

  transition: width 0.3s ease-in-out;
}

.side-bar .side-bar-title-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 10px 0 20px;
  margin: 10px 0;
  /* margin-bottom: 10px; */
}

.side-bar .side-bar-title-area {
  font-size: 1.2rem;
}

.side-bar .side-bar-title-area ion-icon:hover {
  color: #fff;
  cursor: pointer;
  --ionicon-stroke-width: 40px;
}

.task-add-menu,
.edit-menu {
  --menu-width: 40vmin;
  position: absolute;
  top: 30%;
  left: 50%;

  width: clamp(300px, var(--menu-width), 500px);
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.748);
  color: #000;

  border-radius: 10px;
  border: 2px solid #000;
  padding: 10px;

  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 10px;

  overflow: hidden;
}

.task-add-menu-close-btn,
.edit-menu-close-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  border-radius: 0 0 0 10px;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}
.task-add-menu-close-btn:hover,
.edit-menu-close-btn:hover {
  --ionicon-stroke-width: 40px;
  font-size: 1.1em;
}

.task-add-menu input,
.task-add-menu button {
  width: 100%;
  border-radius: 5px;
  padding: 10px;
}

.task-add-menu button {
  margin-top: 20px;
  background-color: #000;
  color: #fff;

  position: relative;
}
.task-add-menu button:hover {
  background-color: rgba(0, 0, 0, 0.888);
}

.task-add-menu button span {
  position: absolute;
  color: red;
  top: -25px;
  left: 0;
}

input,
button {
  /* border: none; */
  outline: none;
  appearance: none;
  -webkit-appearance: none;
}

button {
  cursor: pointer;
}

select,
textarea {
  /* appearance: none; */
  outline: none;
  padding: 10px;
  border-radius: 5px;
}

.projects-list {
  /* overflow-y: auto; */
  /* margin-top: 20px; */
  width: 100%;
  padding: 10px;
}

.projects-list .project-list-item {
  --list-item-l-r-padding: 10px;
  /* --sidebar-l-r-padding:  */
  padding: var(--list-item-l-r-padding);
  cursor: pointer;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  /* border-radius: 10px; */
}

.project-list-item:not(.active):hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.projects-list .project-list-item.active {
  --bgcolor: rgba(255, 255, 255, 0.5);
  background-color: var(--bgcolor);
  animation: bg-expand 0.3s ease-in-out;
  box-shadow: 0 0 0 50px var(--bgcolor);
  clip-path: inset(0 -100px);
  color: black;
}

@keyframes bg-expand {
  0% {
    clip-path: inset(0 0);
  }
  100% {
    clip-path: inset(0 calc(-1 * var(100px)));
  }
}

.projects-list > :nth-child(n + 2):before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 1px;
  /* overflow: visible !important; */
  background-color: #fff;
}

.main {
  grid-area: main;
  background-color: var(--secondary-color);
  padding: 10px 20px;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  gap: 15px;

  position: relative;
}

.main .project-title {
  font-size: 1.5rem;
  padding: 5px 0;
  white-space: nowrap;

  display: flex;
  align-items: center;
  gap: 10px;
  /* justify-content: space-between; */
}

.project-title .project-name {
  color: aqua;
}

.task-area {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.task-area::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  border: 1px solid #fff;
  border-bottom: none;
}

.task-area-header {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 10px;

  font-size: 1.3rem;
}

.task-area-header ion-icon {
  cursor: pointer;
}

.task-area-header ion-icon:hover {
  --ionicon-stroke-width: 40px;
  transform: scale(1.1);
}

div:has(+ .clear-all-btn) {
  flex-grow: 1;
}

.clear-all-btn {
  color: red;
  cursor: pointer;
  border: none;
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.748);
  border-radius: 5px;
  font-weight: bold;
}

.task-area-content {
  flex-grow: 1;

  position: relative;
  overflow: hidden;
  overflow-y: scroll;
  overscroll-behavior: contain;
}

.task-content-wrapper {
  position: absolute;
  padding-right: 15px;
  top: 5%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.task-content-wrapper > .task {
  position: relative;
  padding: 20px 20px;
  /* padding-left: 30px; */
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.484);
  background-color: var(--primary-color);

  display: flex;
  align-items: center;
  gap: 10px;

  height: 75px;

  cursor: pointer;
  overflow: hidden;
}

.task:hover {
  /* todo */
}

.task-info {
  flex-grow: 1;
}

.task-due-date,
.task-priority {
  flex-shrink: 0;
}

.task-status {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.484);
  position: relative;
}

.task-status[data-status="complete"]::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: rgba(15, 237, 237, 0.891);
}

.task-priority {
  width: 13px;
  height: 100%;
  position: absolute;
  left: 0;
}

.task-priority[data-priority="high"] {
  background-color: red;
}

.task-priority[data-priority="medium"] {
  background-color: orange;
}

.task-priority[data-priority="low"] {
  background-color: green;
}

:is(.task, .project-title) ion-icon {
  cursor: pointer;
  font-size: 1rem;
}

.task-due-date {
  font-size: 0.8rem;
}

.edit-menu {
  --menu-width: 70vmin;
}

.edit-menu-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.edit-menu label {
  display: grid;
  align-items: center;
  grid-template-columns: auto auto;
  /* justify-content: space-between; */
  /* gap: 50px; */
}

.edit-menu label :is(input, textarea) {
  /* flex-grow: 1; */
  /* width: 50%; */
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.mark-all-done {
  display: flex;
  align-items: center;
  gap: 40px;
}

.mark-all-done-btn {
  width: 40px;
  height: 20px;
  border-radius: 10px;
  /* border: 1px solid #ccc; */
  background-color: #ccc;
  box-shadow: inset 0 0 0.75rem #000;
  /* color: #fff; */
  cursor: pointer;

  position: relative;
  display: flex;
  align-items: center;
  padding: 0 2px;

  transition: background 0.2s ease;
}

.mark-all-done-btn::before {
  background-color: #fff;
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  transition: transform 0.2s ease;
}

.mark-all-done-btn[checked="true"] {
  /* justify-content: end; */
  background-color: aqua;
  box-shadow: inset 0 0 0.75rem #000;
  /* transform: translateX(20px); */
}

.mark-all-done-btn[checked="true"]::before {
  transform: translateX(20px);
}

.save-btn {
  width: 50%;
  align-self: center;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: rgb(13, 171, 13);
  color: #fff;
}

input:invalid {
  border: 1px solid red !important;
}

label:has(input:invalid) {
  position: relative;
}

label:has(input:invalid)::after {
  content: "Invalid";
  position: absolute;
  top: 100%;
  left: 20%;
  color: red;
  font-size: 0.7rem;
}

button:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.hidden,
.content:not(:has(.popup)) .veil {
  display: none !important;
}

.veil {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;

  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);

  animation: clip-animation 0.3s linear;
}

.popup {
  z-index: 3;
}

/* Hide sidebar when menu-icon is not active */
.content:not(:has(.menu-icon.active)) .side-bar {
  /* transform: translateX(-100%); */
  --sidebar-width: 0;
}

@media (width >=1200px) {
  .main {
    padding: 50px 200px;
    gap: 50px;
    /* justify-self: center; */
  }

  .menu-icon {
    display: none;
  }

  .side-bar {
    --sidebar-width: 200px !important;
  }
}

@media (width >=992px) {
}

@media (width <= 560px) {
  div.side-bar {
    grid-area: main;

    box-shadow: 0.6rem 0 1rem #000;
    clip-path: inset(0 -100vmax 0 0);

    z-index: 4;
  }
}

svg#svg-menu-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  fill: #fff;
}

.project-entry {
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.484);

  width: 100%;
  background-color: white;
  overflow: hidden;
  padding: 0 5px;
}

.project-entry .project-name-input {
  border: 0;
  padding: 10px;
}

.project-entry ion-icon[name="enter-outline"] {
  cursor: pointer;
  font-size: 1.1rem;
  color: black;
  border-left: 1px solid black;
}

@keyframes clip-animation {
  0% {
    clip-path: circle(0 at 0 0);
  }
  75% {
    clip-path: circle(130% at 0 0);
  }
  100% {
    clip-path: circle(150% at 0 0);
  }
}
