:root {
  --primary-color: rgb(22 27 34);
  --secondary-color: rgb(13 17 22);
  --tertiary-color: rgb(33 38 45);

  color: #fff;
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.content {
  height: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header header" "sidebar main" "footer footer";
}

header.header {
  grid-area: header;
  background-color: var(--primary-color);
  color: aliceblue;

  padding: 10px;

  display: flex;
}

.title-logo {
  font-size: 1.5rem;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: black;

  white-space: nowrap;
}

div.side-bar {
  grid-area: sidebar;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  width: 200px;

  padding: 15px 20px;

  color: rgb(199, 197, 197);
}

.side-bar .side-bar-title-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-bottom: 10px; */
}

.side-bar .side-bar-title-area {
  font-size: 1.2rem;
}

.side-bar .side-bar-title-area ion-icon:hover {
  color: #fff;
  cursor: pointer;
  --ionicon-stroke-width: 40px;
}

.project-add-menu,
.task-add-menu,
.edit-menu {
  --menu-width: 40vmin;
  position: absolute;
  top: 30%;
  left: 50%;

  width: clamp(300px, var(--menu-width), 500px);
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.748);
  color: #000;

  border-radius: 10px;
  border: 2px solid #000;
  padding: 10px;

  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 10px;

  overflow: hidden;
}

.project-add-menu-close-btn,
.task-add-menu-close-btn,
.edit-menu-close-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  border-radius: 0 0 0 10px;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}
.project-add-menu-close-btn:hover,
.task-add-menu-close-btn:hover,
.edit-menu-close-btn:hover {
  --ionicon-stroke-width: 40px;
  font-size: 1.1em;
}

.project-add-menu input,
.project-add-menu button,
.task-add-menu input,
.task-add-menu button {
  width: 100%;
  border-radius: 5px;
  padding: 10px;
}

.project-add-menu button,
.task-add-menu button {
  margin-top: 20px;
  background-color: #000;
  color: #fff;

  position: relative;
}
.project-add-menu button:hover,
.task-add-menu button:hover {
  background-color: rgba(0, 0, 0, 0.888);
}

.project-add-menu button span,
.task-add-menu button span {
  position: absolute;
  color: red;
  top: -25px;
  left: 0;
}

input,
button {
  /* border: none; */
  outline: none;
  appearance: none;
  -webkit-appearance: none;
}

button {
  cursor: pointer;
}

select,
textarea {
  /* appearance: none; */
  outline: none;
  padding: 10px;
  border-radius: 5px;
}

.disabled {
  opacity: 0.5;
  /* filter: blur(2px); */
  pointer-events: none;
}

.projects-list {
  overflow-y: auto;
  margin-top: 20px;
  width: 100%;
}

.projects-list .project-list-item {
  padding: 10px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-radius: 10px;
}

.projects-list .project-list-item:hover,
.projects-list .project-list-item.active {
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
}

.projects-list > :nth-child(n + 2):before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 1px;
  /* overflow: visible !important; */
  background-color: #fff;
}

.main {
  grid-area: main;
  background-color: var(--secondary-color);
  padding: 10px 20px;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
  gap: 15px;
}

.main .project-title {
  font-size: 1.5rem;
  padding: 5px 0;
  white-space: nowrap;

  display: flex;
  align-items: center;
  gap: 10px;
  /* justify-content: space-between; */
}

.project-title .project-name {
  color: aqua;
}

.project-info :has(+ .project-description) {
  font-size: 1.3rem;
}

.project-info .project-description {
  padding-left: 10px;
  margin: 5px 0;
}

.task-area {
  display: flex;
  flex-direction: column;
  gap: 10px;

  position: relative;
}

.task-area::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  border: 1px solid #fff;
  border-bottom: none;
}

.task-area-header {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 1.3rem;
}

.task-area-header ion-icon {
  cursor: pointer;
}

.task-area-header ion-icon:hover {
  --ionicon-stroke-width: 40px;
  transform: scale(1.1);
}

.task-area-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.task-area-content > :nth-child(n + 2):before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
}

.task-area-content > .task {
  position: relative;
  padding: 20px 20px;
  /* padding-left: 30px; */
  border-radius: 10px 20px;
  border: 1px solid rgba(255, 255, 255, 0.484);
  background-color: var(--primary-color);

  display: flex;
  align-items: center;
  gap: 10px;
}

.task-info {
  flex-grow: 1;
}

.task-due-date,
.task-priority {
  flex-shrink: 0;
}

.task-status {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #ccc;
  position: relative;
}

.task-status[data-status="complete"]::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--primary-color);
}

.task-priority {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.task-priority[data-priority="high"] {
  background-color: red;
}

.task-priority[data-priority="medium"] {
  background-color: orange;
}

.task-priority[data-priority="low"] {
  background-color: green;
}

ion-icon[name="create-outline"] {
  cursor: pointer;
  transform: translate(0, -40%);
  font-size: 1rem;
}

.edit-menu {
  --menu-width: 70vmin;
}

.edit-menu-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.edit-menu label {
  display: grid;
  align-items: center;
  grid-template-columns: auto auto;
  /* justify-content: space-between; */
  /* gap: 50px; */
}

.edit-menu label :is(input, textarea) {
  /* flex-grow: 1; */
  /* width: 50%; */
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.mark-all-done {
  display: flex;
  align-items: center;
  gap: 40px;
}

.mark-all-done-btn {
  width: 40px;
  height: 20px;
  border-radius: 10px;
  /* border: 1px solid #ccc; */
  background-color: #ccc;
  /* color: #fff; */
  cursor: pointer;

  position: relative;
  display: flex;
  align-items: center;
  padding: 0 2px;

  transition: background 0.2s ease;
}

.mark-all-done-btn::before {
  background-color: #fff;
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  transition: transform 0.2s ease;
}

.mark-all-done-btn[checked="true"] {
  /* justify-content: end; */
  background-color: var(--primary-color);
  /* transform: translateX(20px); */
}

.mark-all-done-btn[checked="true"]::before {
  transform: translateX(20px);
}

.save-btn {
  width: 50%;
  align-self: center;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: rgb(13, 171, 13);
  color: #fff;
}

input:invalid {
  border: 1px solid red !important;
}

label:has(input:invalid) {
  position: relative;
}

label:has(input:invalid)::after {
  content: "Invalid";
  position: absolute;
  top: 100%;
  left: 20%;
  color: red;
  font-size: 0.7rem;
}

button:disabled {
  opacity: 0.5;
  pointer-events: none;
}
